<div class="nav">
	<p class="nav navbar-text" data-bind="html: plugin_gcodebar_wifiname"><span>WiFi {{ plugin_gcodebar_wifiname|escape }}</span></p>
	<p class="nav navbar-text" data-bind="html: plugin_gcodebar_ipadr"><span>IP {{ plugin_gcodebar_ipadr|escape }}</span></p>
</div>