<div id="gcode_bar">
    <div class="input-append">
        <input type="text" autocomplete="off" id="command-search" data-bind="enable: loginState.isUser() && terminal.isOperational(), textInput: commandString, event: { keydown: handleKeyDown, keyup: handleKeyUp }" placeholder="Ingrese GCode"/>
        <button type="submit" class="btn" data-bind="enable: loginState.isUser() && terminal.isOperational(), click: sendCommand">Enviar</button>
    </div>
	<br>
	<span title="Numero de Serie de la RPi">S#</span>: <strong data-bind="text: plugin_gcodebar_serial">{{ plugin_gcodebar_serial|escape }}</strong><br>
	<span title="IP de la Impresora">IP</span>: <strong data-bind="text: plugin_gcodebar_ipadr">{{ plugin_gcodebar_ipadr|escape }}</strong><br>
	<span title="Estado Wifi">Modo Wifi</span>: <strong data-bind="text: plugin_gcodebar_netmode">{{ plugin_gcodebar_netmode|escape }}</strong><br>
	<span title="Punto de Acceso">Nombre AP</span>: <strong data-bind="text: plugin_gcodebar_wifiname">{{ plugin_gcodebar_wifiname|escape }}</strong><br>
	<span title="MAC Address Wifi">MAC Wifi</span>: <strong data-bind="text: plugin_gcodebar_mac">{{ plugin_gcodebar_mac|escape }}</strong><br>
	<span title="Canal Wifi">Canal Wifi</span>: <strong data-bind="text: plugin_gcodebar_channel">{{ plugin_gcodebar_channel|escape }}</strong><br>
	
</div>
