<div id="gcode_bar">
    <div class="input-append">
        <input type="text" autocomplete="off" id="command-search" data-bind="enable: loginState.isUser() && terminal.isOperational(), textInput: commandString, event: { keydown: handleKeyDown, keyup: handleKeyUp }" placeholder="Ingrese GCode"/>
        <button type="submit" class="btn" data-bind="enable: loginState.isUser() && terminal.isOperational(), click: sendCommand">Enviar</button>
    </div>
	<br>
	<span title="Numero de Serie de la RPi">S#</span>: <strong data-bind="text: serial">{{ plugin_exoextras_serial|escape }}</strong><br>
	<span title="IP de la Impresora">IP</span>: <strong data-bind="text: ipadr">{{ plugin_exoextras_ipadr|escape }}</strong><br>
	<span title="Estado Wifi">Modo Wifi</span>: <strong data-bind="text: netmode">{{ plugin_exoextras_netmode|escape }}</strong><br>
	<span title="Punto de Acceso">Nombre AP</span>: <strong data-bind="text: wifiname">{{ plugin_exoextras_wifiname|escape }}</strong><br>
	<span title="MAC Address Wifi">MAC Wifi</span>: <strong data-bind="text: mac">{{ plugin_exoextras_mac|escape }}</strong><br>
	<span title="Canal Wifi">Canal Wifi</span>: <strong data-bind="text: plugin_exoextras_channel">{{ plugin_exoextras_channel|escape }}</strong><br>

</div>
